<main>
    <div class="griddy">
        <label for="">Numéro de la pièce</label>
        <input type="text" [(ngModel)]="nRoom.id">
        <label for="">Nom de la pièce</label>
        <input type="text" [(ngModel)]="nRoom.name">
        <label for="">Surface de la pièce en m²</label>
        <input type="number" [(ngModel)]="nRoom.surface">
        <div>
            <label for="">Porte de la pièce ouverte ou fermer ?</label>
            <input type="checkbox" [(ngModel)]="nRoom.opened">
        </div>
        <button (click)="newRoom()">Add Room</button>
    </div>

    <div class="flexboxs"><app-room-item [room]="item" *ngFor="let item of list"></app-room-item></div>

</main>